<h3>Navigation</h3>
<ul>
  <li><a href="index.php">Outbound</a></li>
  <li><a href="../index.php">Inbound</a></li>
  <li><a href="../additems.html">Add Items to Bin</a></li>
  <li><a href="../search.php">Current Item Search</a></li>
  <li><a href="../searchtrans.php">Item History Search</a></li>
  <li><a href="../binsearch.php">Bin in Use Search</a></li>
  <li><a href="../clearbin.html">Clear a Bin in Use</a></li>
  <li><a href="../recallbin.php">Recall a Bin</a></li>
  <hr>
  <li><a href="../temp/">View Recent Bins</a></li>
  <li><a href="../temp/holdslips/">View Recent Holdslips</a></li>
</ul>
<hr>
