<h3>Administration</h3>
<ul>
  <strong>Primary Admin</strong><br>
  <li><a href="index.php">Main Admin</a></li>
  <hr>
  <strong>Manage Branches</strong><br>
  <li><a href="admin-viewbranches.php">View Branches</a></li>
  <li><a href="admin-addbranch.php">Add Branch</a></li>
  <li><a href="admin-modbranch.php">Modify Branch</a></li>
  <li><a href="admin-removebranch.php">Remove Branch</a></li>
</ul>
