<head>
  <style>
#holdrouteslip{
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
  padding:2mm;
  margin: 0 auto;
  width: 75mm;
  background: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  text-orientation: sideways;
  writing-mode: vertical-rl;
  min-height: 200mm;
}

h1{
  font-size: 3em;
  color: #000;
}

h2{
  font-size: 2em;
  font-weight: 300;
}

p{
  font-size: 1em;
  color: #666;
  /*line-height: 1.2em;*/
}
</style>
</head>
